body{
    background-color: #264653;
    color: #edf2f4;
    border: 1px solid #f95738;
    padding: 20px;
}
/* yeeeaaa, > This is my first comment
-----> Header style */
img {
    width: 100%;
    height: 500px;
}
nav {
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #4eb1a5;
    width: 430px;
    margin: 3px;
    border-radius: 2px;
}
#z {
    background-color: #080708;
}
h1 {
    border-radius: 5px;
    text-align: center;
    background-color: #f94144;
    font-family: sans-serif;
    font-style: italic;
    color: #efd3d7;
    margin: 50px 150px 50px 150px;
    padding: 10px 100px 10px 100px;
}
#a {
    color: #ee964b;
}
/*---> first section style  */
.pre {
    padding: 5px 5px 5px 10px;
    background-color: #b8f2e6;
    width: 85px;
    color: #5e6472;
    font-size: 20px;
    margin: 4px;
    border-radius: 2px;
}
ul {
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}
.name {
    font-size: 20px;
    bottom: 500px;
    padding: 3px;
}

/*---> second section style  */
h2 {
    background-color: #b8f2e6;
    width: 100px;
    color: #5e6472;
    border-radius: 3px;
    padding: 7px;
}
.story {
    background-color: #706677;
    font-size: 15px;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 18px;
    padding: 7px;

}
blockquote {
    padding: 10px;

}
.alan {
    float: right;
    height: 500px;
    width: fit-content;
}
.philosopher {
    clear: left;
    border: 1px solid;
    font-size: 15px;
    line-height: 1.25;
    width: 50%;
    height: 250px;
    padding: 15px;
    background-color: #e63946;
    position: relative;
}






/*---> third section style  */


table {
    text-align: center;
    border: 2px #b23827;
    background: #ef476f;
    margin: 20px;
    height: 400px;
    width: 300px;
}





/*---> links style */
a {
    color: #fcf5c7;
}
