body{
    background-color: #6d597a;
    width: fit-content;
    color: #edf2f4;
    border: 1px solid #f95738;
    padding: 20px;
}
/* yeeeaaah, >>>>>
>>>> This is my first comment
-----> Header style */
img {
    width: 100%;
    height: 500px;
}
nav {
    text-align: center;
    font-family: 'New Tegomin', serif;
    padding: 10px 10px 10px 10px;
    background-color: #b56576;
    width: 430px;
    margin: 3px;
    border-radius: 2px;
}
figcaption {
    font-size: 19px;
    font-family: 'New Tegomin', serif;
    color: #f4f1de;

}
#z {
    background-color: #e07a5f;
}
#a {
    color: #f4f1de;
}
h1 {
    border-radius: 5px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    background-color: #355070;
    font-family: 'Abel', sans-serif;
    color: #efd3d7;
    padding: 10px;
    width: 500px;
    position: relative;
    left: 350px;
}
/*---> first section style  */
.pre {
    padding: 5px 5px 5px 10px;
    font-family: 'Abel', sans-serif;
    background-color: #eaac8b;
    width: 85px;
    color: #5e6472;
    font-size: 25px;
    margin: 4px;
    border-radius: 2px;
}
ul {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'New Tegomin', serif;
    
}
.name {
    font-size: 20px;
    bottom: 500px;
    padding: 3px;
}

/*---> second section style  */
h2 {
    background-color: #eaac8b;
    font-family: 'Abel', sans-serif;
    width: 100px;
    color: #5e6472;
    border-radius: 3px;
    padding: 7px;
}
.story {
    background-color: #706677;
    font-size: 15px;
    color: #eaac8b;
    line-height: 2em;
    font-family: 'Abel', sans-serif;
    margin: 20px;
    font-size: 20px;
    padding: 7px;

}
#link {
    color: #006d77;
}
blockquote {
    padding: 10px;
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    clear: left;

}
.alan {
    filter: drop-shadow(8px 8px 10px gray);
    float: right;
    height: 385px;
    width: 200px;
    margin: 20px;
}
.philosopher {
    clear: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.25;
    width: 70%;
    height:200px ;
    padding: 10px;
    background-color: #e07a5f;
    border-radius: 3px;
    margin: 20px ;
}
#mine {
    position: relative;
    left: 80%;
    font-size: 18px;
    color: #355070;
}






/*---> third section style  */


.content-table {
    border-collapse: collapse;
    font-family: 'New Tegomin', serif;
    border-radius: 5px  5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    height: 400px;
    width: 300px;
    color: #000;
}
.content-table tr th {
    background-color: #81b29a;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #81b29a;
}
.p-tabel {
    font-family: 'Ubuntu', sans-serif;
    
}





