body{
    background-color: #6d597a;
    width: fit-content;
    color: #edf2f4;
    padding: 20px;
    box-shadow: 0 0 20px #000;
}
/* yeeeaaah, >>>>>
>>>> This is my first comment
-----> Header style */
img {
    border-radius: 4px;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 20px #000;
}
nav {
    text-align: center;
    font-family: 'New Tegomin', serif;
    padding: 10px 10px 10px 10px;
    width: 430px;
    margin: 3px;
    border-radius: 2px;
}
figcaption {
    font-size: 19px;
    font-family: 'New Tegomin', serif;
    color: #f4f1de;
    padding-bottom: 5px;
    text-shadow: 0 0 5px #000;

}
#em-text {
    box-shadow: 0 0 20px #000;
}
#a {
    background-color: #e56b6f;
    color: #355070;
    font-weight: bold;
    border-radius: 3px;
}
h1 {
    border-radius: 5px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    background-color: #355070;
    font-family: 'Abel', sans-serif;
    color: #efd3d7;
    padding: 10px;
    width: 500px;
    box-shadow: 0 0 40px #000;
}
/*---> first section style  */
.pre {
    padding: 5px 5px 5px 10px;
    font-family: 'Abel', sans-serif;
    background-color: #eaac8b;
    width: 85px;
    color: #5e6472;
    font-size: 25px;
    margin: 4px;
    border-radius: 2px;
    box-shadow: 0 0 40px #000;
    text-shadow: 0 0 2px #000000;

}
ul {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'New Tegomin', serif;
    text-shadow: 2px 2px #000000;

    
}
.name {
    font-size: 20px;
    bottom: 500px;
    padding: 3px;
}

/*---> second section style  */
h2 {
    background-color: #eaac8b;
    font-family: 'Abel', sans-serif;
    width: 100px;
    color: #5e6472;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0 0 40px #000;
}
.story {
    background-color: #706677;
    font-size: 15px;
    color: #eaac8b;
    line-height: 2em;
    font-family: 'Abel', sans-serif;
    margin: 20px;
    font-size: 20px;
    padding: 7px;
    box-shadow: 0 0 40px #000;
    text-shadow: 2px 2px #000000;
    border-radius: 5px;

}
#link {
    color: #e56b6f;
}
blockquote {
    padding: 10px;
    width: 75%;
    font-size: 20px;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    clear: left;
    box-shadow: 0 0 20px #000;
    text-shadow: 0 2px #000000;
    background-color: #eaac8b;
    color: #706677;
    

}
.alan {
    filter: drop-shadow(8px 8px 10px gray);
    float: right;
    height: 385px;
    width: 200px;
    margin: 20px;
    box-shadow: 0 0 20px #000;
}
.philosopher {
    clear: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: 1.25;
    width: 70%;
    height:fit-content ;
    padding: 10px;
    background-color: #e56b6f;
    border-radius: 3px;
    margin: 20px ;
    box-shadow: 0 0 20px #000;
    color: #706677;
}
#mine {
    position: relative;
    left: 80%;
    font-size: 18px;
    color: #355070;
}






/*---> third section style  */

.farmer-philo {
    font-family: 'New Tegomin', serif;
    box-shadow: 0 0 20px #000;
    font-weight: bold;
    width: fit-content;
    color: #e56b6f;
    padding: 4px;
    border-radius: 3px;
    background-color: #eaac8b;
}
.content-table {
    border-collapse: collapse;
    font-family: 'New Tegomin', serif;
    border-radius: 5px  5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    height: 400px;
    width: 300px;
    color: #000;
    position: relative;
    left: ;
}
.content-table tr th {
    background-color: #b56576;
    color: #000;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 2px solid #e56b6f;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #eaac8b;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #b56576;
}
.p-tabel {
    font-family: 'Ubuntu', sans-serif;
    background-color: ;
    
}

/* footer styling */

footer {
    padding-top: 40px;
}
.last {
    background-color: #5e6472;
    color: #e56b6f;
    width: fit-content;
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    text-shadow: 0 4px #000;
    box-shadow: 0 0 20px #edf2f4;
    border-radius: 3px;
    padding: 5px;

}



